<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

  <context:component-scan base-package="com.jose" annotation-config="true"/>

  <!--<context:annotation-config/>-->
  <aop:aspectj-autoproxy proxy-target-class="true"/>

  <import resource="applicationContext-datasource.xml"/>

  <!-- spring test -->
  <bean id="aopRun" class="com.jose.service.impl.spring.aop.AopRun" />
  <bean id="audience" class="com.jose.service.impl.spring.aop.Audience" />

  <!-- xml aop test -->
  <!--<bean id="aopRunXml" clacom.jose.service.impl.AopRunXmlnXml" />-->
  <!--<bean id="audienceXml" clacom.jose.service.impl.AudienceXmleXml" />-->
  <aop:config>
    <aop:aspect ref="audienceXml">
      <aop:pointcut id="xmlPoint" expression="execution(* com.jose.service.impl.spring.aop.AopRunXml.*(..))" />
      <aop:before method="beforeXml" pointcut-ref="xmlPoint" />
      <aop:after method="afterXml" pointcut-ref="xmlPoint" />
      <aop:after-returning method="xmlAfterReturning" pointcut-ref="xmlPoint" />
      <aop:around method="xmlAround" pointcut-ref="xmlPoint" />
    </aop:aspect>
  </aop:config>
</beans>